* {
    margin: 0;
    padding: 0;
}

.navContainer {
    height: 600px;
    width: 100%;
    background-color: rgba(241, 153, 165, 0.158);
    text-decoration: none;

}

.container2 {
    background-color: rgba(108, 187, 218, 0.137);
    height: 500px;
    width: 750px;
    margin-left: 550px;
    margin-top: -330px;
    margin-bottom: 100px;
    margin-right: 50px;
    background-image: linear-gradient(to right, rgba(145, 204, 228, 0.281), rgba(255, 255, 255, 0.185));

}

#nav {
    list-style-type: none;
    font-size: 20px;
    padding: 40px;
    overflow: hidden;
    width: 80%;
    display: flex;
    flex-direction: row;

    margin: 2px;
}

#first {
    color: rgba(0, 0, 0, 0.774);
    margin-left: -10px;
    text-decoration: none;
    padding: 10px;
}

#first:hover {
    color: rgb(211, 42, 70);
    font-weight: bold;
}

#second {
    text-decoration: none;
    padding: 10px;
    color: rgba(0, 0, 0, 0.774);
}

#second:hover {
    color: rgb(211, 42, 70);
    font-weight: bold;
}

#third {
    text-decoration: none;
    padding: 10px;
    color: rgba(0, 0, 0, 0.774);
}

#third:hover {
    color: rgb(211, 42, 70);
    font-weight: bold;
}

#fourth {
    text-decoration: none;
    padding: 10px;
    color: rgba(0, 0, 0, 0.774);
}

#fourth:hover {
    color: rgb(211, 42, 70);
    font-weight: bold;
}

#name {
    color: rgba(0, 0, 0, 0.76);
    font-size: 76px;
    margin-left: 400px;
    margin-top: 100px;
}

#surname {
    color: rgba(0, 0, 0, 0.76);
    font-size: 76px;
    margin-left: 450px;
    margin-top: -7px;
}

#image {
    margin-top: 50px;
    margin-left: 240px;
    /* box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.363); */

}

#about {
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
}

#me {
    font-size: 18px;
    font-weight: bold;
    line-height: 250%;
    /* margin-left: 200px; */
    margin: auto;
    width: 70%;
    margin-top: 25px;
}

#aboutt {
    background-color: rgba(240, 196, 204, 0.11);
    width: 900px;
    margin: auto;
    height: 750px;
    align-items: center;
    /* background-image: linear-gradient(to right, rgba(238, 238, 112, 0.685) , rgba(61, 58, 58, 0.897)); */
    border: 5px solid rgba(224, 130, 146, 0.274);
    box-shadow: 5px 5px 20px rgba(172, 74, 90, 0.26);
    /* box-sizing: inherit; */
    padding: 10px;
    /* width: 100vw; */
    overflow: hidden
}

#resume {
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-top: 45px;
}

#div1 {
    display: flex;
    justify-content: center;
    /* list-style: none; */
    margin-top: 40px;
    margin-left: 265px;
    padding: 20px;
}

#divv1 {
    width: 60%;
    margin-top: -40px;
    margin-left: 580px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#div2 {
    display: flex;
    justify-content: center;
    margin-left: -300px;
    margin-top: 95px;
    list-style-type: square;
}

#divv2 {
    margin-top: -20px;
    margin-left: 580px;
}

#div3 {
    text-align: center;
    margin-top: 70px;
    margin-right: 300px;
}

#divv3 {
    margin-left: 580px;
    margin-top: -20px;
}

#resumee {
    background-color: rgba(240, 196, 204, 0.11);
    border: 5px solid rgba(224, 130, 146, 0.274);
    box-shadow: 5px 5px 20px rgba(172, 74, 90, 0.26);
    height: 580px;
    width: 70%;
    margin-left: 16%;
    margin-top: 15%;
    margin-bottom: -50px;
}

#firstimg {
    margin-left: 635px;
    margin-top: 60px;
}

#secimg {
    margin-bottom: -5px;
    margin-left: 10px;
}

/* .form{
    margin-left: 400px;
    width: 40%; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
 }
#F-name{
    font-size: 25px;
}
#L-name{
    font-size: 25px;
}
#Email{
    font-size: 25px
}
#sub{
    font-size: 25px;
}
#Msg{
    font-size: 25px;
    margin-top: 20px;
    width: 300px;
    height: 100px;
}  
.form input[type="text"],input[type="email"]{
    height: 35px;
} */
.contact {
    gap: 30px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

#heading {
    font-size: 40px;
    margin-top: -100px;
}

#data {
    margin-left: 130px;
    margin-top: -60px;
}

.contactme {

    height: 16%;
    border: 5px solid rgba(224, 130, 146, 0.274);
    box-shadow: 5px 5px 20px rgba(172, 74, 90, 0.26);
    background-color: rgba(240, 196, 204, 0.11);
    width: 70%;
    margin-top: 10%;
    margin-left: 16%;
    margin-bottom: 20%;
    /* margin: auto; */
}

.form {
    width: 65%;
    /* margin: auto; */
    margin-top: -50px;
    margin-left: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.form div {
    width: 87%;
    margin-top: 20px;
    font-size: 18px;
}

.form input {
    width: 89%;
    height: 70%;
}

.form input[type="submit"] {
    height: 30px;
    width: 98%;
    background-color: black;
    color: pink;
    border: none;
}

.form input:hover[type="submit"] {
    background-color: rgb(49, 47, 47);
}

.form input#subject {
    width: 95%;
}

.form div:first-child,
div:nth-child(2) {
    width: 40%;
}

.form textarea {
    resize: none;
}

#last {
    background-color: rgba(221, 152, 165, 0.445);
    width: 68%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px;
    padding: 20px;
    margin-top: -220px;
    margin-left: 217px;
}

/* #call{
    margin-left: 400px;
 } */
/* #btn{
    color: rgb(204, 92, 109);
    background-color: rgba(0, 0, 0, 0.87);
    font-size: 18px;
    margin: 25px;
    margin-left: 20px;
    height: 35px;
    width: 500px;
    text-decoration: wheat;
}
#btn:hover{
    background-color: rgba(189, 109, 122, 0.185);
} */
/* footer{
    border: 3px solid pink;
    width: 70%;
    margin:auto;
    margin-top: 300px;
} */
@media(max-width:100px) {
    #aboutt {
        /* flex-direction: column;
        align-items: center; */
        /* width: 50%; */
        height: auto;
    }
}